body {
  font-family: sans-serif;
}

.container {
  width: 960px;
  margin: auto;
}

.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.table td {
  border: 1px solid #ccc;
  padding: .5em 1em;
}

.table td.completed {
  text-decoration: line-through;
  color: #aaa;
}
