<h2>Welcome to Wunderlist</h2>

<p>Your current todos</p>

<table class="table">
  {{#each model as |todo|}}
    <tr>
      <td>{{ todo.title }}</td>
      <td><a href="#" {{action 'toggleStatus' todo}}>{{ todo.isCompleted }}</a></td>
    </tr>
  {{/each}}
</table>
